<div class="list-silder-div-categorie">
    <img id="head-avatar" src="/img/18064826.jpg" />
    <ul id="list-information">
        <li>
            <a href="https://github.com/582302894" target="_blank"><img class="github" src="/img/640caed1f970d4d9213d6457dbc2f5ef.png"></a>
        </li>
        <li>
            <span class="link"><a href="https://github.com/582302894" target="_blank">github</a></span>
        </li>
        <li>
            <span class="link"><a href="https://github.com/582302894/582302894.github.io" target="_blank">link</a></span>
        </li>
    </ul>
    <ul class="list-silder">
        {% for categorie in site.categories limit:1 %}
        <li class="list-silder-item list-silder-item-left list-silder-item-hover" data-categorie="{{ categorie | first }}">
            {{ categorie | first }}
            <!-- <span class="badge">
            </span> -->
        </li>
        {% endfor %}
        {% for categorie in site.categories offset:1 %}
        <li class="list-silder-item list-silder-item-left" data-categorie="{{ categorie | first }}">
            {{ categorie | first }}
            <!-- <span class="badge">
            </span> -->
        </li>
        {% endfor %}
    </ul>
</div>
<div class="list-silder-div-post">
    <ul class="list-silder">
    {% for page in site.posts %}
        <li class="list-silder-item list-silder-item-right list-silder-item-{{ page.categories }} hide" data-categorie="{{ page.categories }}"><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
    </ul>
</div>